deploymentMode: Distributed

loki:
  image:
    registry: 591756927972.dkr.ecr.ap-northeast-1.amazonaws.com/docker.io
    repository: grafana/loki
    tag: 3.4.6
  
  auth_enabled: true
  
  commonConfig:
    replication_factor: 2
  
  storage:
    type: s3
    bucketNames:
      chunks: ops-buzzvil-loki-v3
      ruler: ops-buzzvil-loki-v3
    s3:
      region: ap-northeast-1
      s3ForcePathStyle: false
      insecure: false
  
  schemaConfig:
    configs:
      - from: "2025-12-02"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  
  ingester:
    chunk_encoding: snappy
    chunk_idle_period: 168h
    chunk_retain_period: 1m
    max_chunk_age: 2h
    wal:
      flush_on_shutdown: true
      dir: /var/loki/wal
    zoneAwareReplication:
      enabled: false
  
  limits_config:
    retention_period: 2160h
    max_cache_freshness_per_query: 10m
    split_queries_by_interval: 15m
    query_timeout: 300s
    volume_enabled: true
  
  querier:
    max_concurrent: 4
  
  query_scheduler:
    max_outstanding_requests_per_tenant: 4096
  
  frontend:
    log_queries_longer_than: 5s
    compress_responses: true
    max_outstanding_per_tenant: 4096
  
  ruler:
    storage:
      type: local
      local:
        directory: /var/loki/rules
    rule_path: /tmp/loki/scratch
    ring:
      kvstore:
        store: memberlist
    enable_api: true
    enable_alertmanager_v2: true
    alertmanager_url: http://alertmanager.monitoring:9093
  
  distributor:
    ring:
      kvstore:
        store: memberlist
  
  storage_config:
    tsdb_shipper:
      active_index_directory: /var/loki/index
      cache_location: /var/loki/index_cache
    aws:
      s3forcepathstyle: false
  
  compactor:
    retention_enabled: true
    delete_request_store: s3
    compaction_interval: 10m
    retention_delete_delay: 2h
    retention_delete_worker_count: 150
    delete_request_cancel_period: 24h
    working_directory: /var/loki/compactor
  
  bloom_build:
    enabled: false
  
  bloom_gateway:
    enabled: false

serviceAccount:
  create: true
  name: loki
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::591756927972:role/eks-loki-v3-s3-role-ops

gateway:
  enabled: true
  replicas: 2
  maxUnavailable: 1
  service:
    type: ClusterIP
    port: 80

distributor:
  replicas: 3
  maxUnavailable: 1
  autoscaling:
    enabled: true
    minReplicas: 3
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80

ingester:
  replicas: 3
  maxUnavailable: 1
  autoscaling:
    enabled: true
    minReplicas: 3
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80
  persistence:
    enabled: true
    size: 50Gi
    storageClass: gp3

querier:
  replicas: 3
  maxUnavailable: 1
  autoscaling:
    enabled: true
    minReplicas: 3
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80

queryFrontend:
  replicas: 2
  maxUnavailable: 1
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80

queryScheduler:
  replicas: 2
  maxUnavailable: 1

compactor:
  enabled: true
  replicas: 1
  persistence:
    enabled: true
    size: 50Gi
    storageClass: gp3

indexGateway:
  enabled: true
  replicas: 1
  persistence:
    enabled: true
    size: 50Gi
    storageClass: gp3

chunksCache:
  enabled: true
  replicas: 1

resultsCache:
  enabled: true
  replicas: 1

monitoring:
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false
  lokiCanary:
    enabled: true

# Disable SimpleScalable components for Distributed mode
backend:
  replicas: 0

read:
  replicas: 0

write:
  replicas: 0
